@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk');

.section-b::-webkit-scrollbar,
.section-e::-webkit-scrollbar,
.section-statement::-webkit-scrollbar,
.section-obras::-webkit-scrollbar{
    display: none;
  }

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;                    
    font-family: 'Satoshi', sans-serif;                        
    background-color: whitesmoke;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    cursor: crosshair;
}

.section-a a{
    text-decoration: none;
    color: black;
}
.fullscreen2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Cambia el color de fondo según tu diseño */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #000;
}

.section-obras {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.section-obras h3,
.section-obras h5,
.section-obras p {
    align-self: flex-start; /* Alinea el título a la izquierda */
    margin-bottom: 20px;
}

.img-horizontal, 
.img-vertical, 
.obras-flex-cuadradas {
    display: flex;
    justify-content: center; /* Centra las imágenes horizontalmente */
    margin-bottom: 20px; /* Espaciado entre imágenes */
}

.img-horizontal img, 
.img-vertical img, 
.obras-flex-cuadradas img {
    max-width: 100%;
    height: auto;
}

.obras-flex-cuadradas {
    flex-wrap: wrap;
    gap: 10px; /* Espacio entre imágenes cuadradas */
}

.obras-flex-cuadradas a {
    flex: 1 1 calc(33.333% - 10px); /* Asegura que las imágenes cuadradas estén distribuidas de forma equitativa */
    text-align: center;
}

/* body.loading {
    /* pointer-events: none; 
    overflow: hidden;
} */


@media (max-width: 1025px) {
    body{
        overflow-y: hidden;
    }
    
    .fullscreen,
    .fullscreen2, 
    .section-c{
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
        overflow-x: hidden;
        max-width: 100vw;
        width: 99vw;
    }
    .section-obras{
        overflow-x: hidden;
    }
    
    .section-a {
        position: fixed;
        top: 0;
        left: -200vw; 
        width: 80%;
        height: 100vh;
        z-index: 9999;
        transition: all 1.5s ease;
    }
    .section-a.show {
       left: 0;
    }

    .mobile-menu-btn {
        display: block;
        position: absolute;
        top: 25px;
        left: 5px;
        font-size: 2rem;
        font-family: 'Satoshi', sans-serif;
        font-weight: 100;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 1000;
        color: black;
    }
    
    #section-a.active {
        transform: translateX(0);
    }
    #menu.active {
        transform: translateX(0);
    }
    
    .close-menu-btn {
        display: block;
        top: 20px;
        left: 10px;
        font-size: 3rem;
        font-family: 'Satoshi', sans-serif;
        font-weight: 100;
        color: black;
    }
    
    
    .section-b{
        display: none;
    }

    .section-b-mobile {
        height: 35%;
        width: 90%;
        overflow-x: scroll;
        display: flex;        
        padding: 20px;
        background-color: whitesmoke;
        justify-content: center;
        align-items: flex-start;
    }

    .section-c {
        max-width: 100%;
        overflow-y: hidden;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-c .details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
 
    .section-c-index {
        max-width: 100%;
        overflow-y: hidden;
        display: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        height: 60vh;
        width: 100vw;
        top: 0;
    }

    .section-c-index .details{
        width: 100vw;
        height: 73vh;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .text-info {
        position: absolute;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 10px;
    }

    #art-technique, #art-year{
        display: none;
    }
/* creo q no existe

    .text-info-mobile {
        display: block;
        position: static; 
        margin-top: 10px; 
        text-align: center; 
    }
*/
.overlay-text {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        color: black;
        background: rgba(0, 0, 0, 0.1);
        opacity: 0;
        font-weight: 300;
        text-align: center;
        z-index: 1;
        pointer-events: none;
        font-size: 17px;
  }

  .grid .active + .overlay-text {
    opacity: 1;
  }

    .section-a h1 {
        font-size: 1.3rem;
        margin: 1.3rem 0;
    }
    .section-a nav ul {
        font-size: 1.1rem;
    }

    .inline-estudios{
        display: inline-table;
    }
    .section-canvas{
        display: none;
    }

    .section-statement {
        padding: 100px 20px 20px 20px;
        background-color: whitesmoke;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none;
    }
    .carnet{
        width: 35vw;
        height: auto;
        position: absolute;
        right: 0;
        top: 20px;
    }
    .contact{
        /* display: contents;
        margin-bottom: 20px; */
        display: grid;
        justify-items: end;
        width: 80vw;
        gap: 5px;
        height: max-content;
    }
}
