@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk');

.section-b::-webkit-scrollbar,
.section-e::-webkit-scrollbar{
    display: none;
  }

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;                    
    font-family: 'Satoshi', sans-serif;                        
    background-color: whitesmoke;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.titulo-pagina{
    text-decoration: none;
    color: black;
}
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke; 
    z-index: 9999; 
    opacity: 1; 
    transition: opacity 2s ease; 
}

.container {
    display: grid;
    grid-template-columns: 0.90fr 3fr 3fr;
    grid-gap: 0;
    width: 100%;
    height: 100%;

    /* position: relative;
    opacity: 0; 
    transform: translateY(-100vw); 
    transition: opacity 1s ease, transform 1s ease;  */
}


.show {
    opacity: 1; 
    transform: translateY(0); 
}

/* Sección A */
.section-a {
    background-color: whitesmoke;
    padding: 20px;
    text-align: left;
    border-right: 1px solid #ccc;
    text-align: right;

}

.section-a h1 {
    font-size: 1rem;
    /* font-weight: 500;
    position: sticky;
    top:20px; */

}

.section-a nav{
    padding-top: 30px;
    /* position: sticky;
    top: 40px; */
}
.section-a nav ul {
    list-style: none;
    padding: 0;
    font-size: 0.8rem;
    font-family: 'Cabinet Grotesk', sans-serif;                                              
                                                
}

.section-a nav ul li {
    margin-bottom: 10px;
}

.section-a nav ul li a {
    text-decoration: none;
    color: #333;
}


/* Sección B */
.section-b {
    padding: 20px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    overflow-y: scroll;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    gap: 10px;
}

.grid-item {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.grid-item:hover {
    transform: scale(1.05);
}

.section-b p{
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 0.80rem;
    text-align: justify;
    text-justify: inter-word;
}

/* Sección C */
.section-c {
    background-color: whitesmoke;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: column;
    text-align: left;
    max-height: 100vh;
    
}

.section-c img {
    max-width: 80%;
    height: auto;
    margin-bottom: 10px;
   
}
.text-info{
    position: fixed;
    height: 100px;
    bottom: 0;
}
.details h2,
.details p {
    margin: 5px 0;
}
.details h2{
    font-family: 'Satoshi', sans-serif;
    font-weight: 600;
    font-size: 0.90rem;
    text-transform: uppercase;
}
.details p{
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 0.80rem;
}

/* Popup Gallery (Sección D) */
.popup {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    max-width: 80%;
    margin: auto;
}

.popup-content img {
    width: 100%;
    height: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}


/* SEction E */

.section-e {
    padding: 100px 20px;
    background-color: whitesmoke;
    overflow-y: scroll;
}

.section-e h2{
    font-family: 'Satoshi', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}
.section-e h3{
    font-family: 'Satoshi', sans-serif;
    font-weight: 600;
    font-size: 0.90rem;
}

.section-e p{
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 0.80rem;
    text-align: justify;
    text-justify: inter-word;
}
.inline-estudios{
    display: flex;
    gap: 20px;
    align-items: center;
    height: 50px;
}
.section-e h4{
    font-family: 'Satoshi', sans-serif;
    font-weight: 600;
    font-size: 0.80rem;
}
.inline-estudios a{
    color: red;
}

.fancybox__slide {
    padding: 64px 100px;
    background: whitesmoke;
}
.fancybox__toolbar {
    display: none !important;
}

.fancybox__container {
    
    --carousel-button-svg-height: 19px;
}
.fancybox__caption{
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 0.9rem;
    text-align: justify;
    text-justify: inter-word;
    color: black !important;
}
.fancybox__nav .carousel__button.is-prev,
.fancybox__nav .carousel__button.is-next  {
    color: black;
}
.fancybox__container.is-animated[aria-hidden=false] .fancybox__thumbs {
    display: none;
}